.full-width-table {
  width: 100%;
}

.input-headline {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

.gray { background-color: #f5f5f5 }

/*
.button-size {
  width: 50px;
  height: 45px;
  padding-top: 10px;
  padding-bottom: 15px;

}
*/

