<div fxLayout="row" fxLayoutAlign="end" class="button-add">
  <button mat-button color="primary" (click)=" addDemandeEquivalence()"><mat-icon>add_circle</mat-icon></button>
</div>

 <div class="spinner-container" *ngIf="dataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>
<div class="mat-elevation-z8">

  <table mat-table  class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dateDepot">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de dépot</th>
      <td mat-cell *matCellDef="let row">{{row.dateDepot | date:'dd/MM/yyyy' : 'LL'}}</td>
    </ng-container>

    <ng-container matColumnDef="numeroRecepisse">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>numéro de recepissé</th>
      <td mat-cell *matCellDef="let row">{{row.numeroRecepisse}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="numeroBordereau">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>numéro de bordereau</th>
      <td mat-cell *matCellDef="let row">{{row.numeroBordereau}}</td>
    </ng-container>

    <ng-container matColumnDef="diplomeAnterieur">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>diplome anterieur</th>
      <td mat-cell *matCellDef="let row">{{row.diplomeAnterieur}}</td>
    </ng-container>

    <ng-container matColumnDef="diplomeDemande">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> diplome demandé</th>
      <td mat-cell *matCellDef="let row">{{row.diplomeDemande}}</td>
    </ng-container>

    <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="editDemandeurEquivalence(row)" >
              <mat-icon class="mat-18">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="warn" (click)="deleteDemandeEquivalence(row.id)" >
                <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </td>
        </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;"
     [ngClass]="{gray: even}"></tr>
  </table>

  <mat-paginator #paginator
  [length]="dataSource?.totalElements"
  [pageIndex]="0"
  [pageSize]="3"
  [pageSizeOptions]="[4,5]">
  </mat-paginator>

</div>


