  <div class="img_background" fxLayout="column" fxFlex="100%" >
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" >
      <mat-card class="box">
        <mat-card-header >
          <img class="img_profile" src="assets/img/ML20.png" class="profile-img-card"/>
        </mat-card-header>

        <form class="example-form" (ngSubmit)="onSubmit()">
          <mat-card-content>
            <mat-form-field class="example-full-width" appearance="outline">
              <input matInput
              [(ngModel)]="form.username"
              name="username"
              placeholder="Nom d'utilisateur" required>
              <mat-icon color="primary" matSuffix>account_circle</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <input matInput type="password"
              name="password"
              [(ngModel)]="form.password"
              autocomplete="on"
              placeholder="Mot de passe" required>
              <mat-icon color="primary" matSuffix>vpn_key</mat-icon>
            </mat-form-field>
          </mat-card-content>
          <button mat-flat-button color="primary" class="btn-block" type="submit">Connexion</button>
        </form>
      </mat-card>
    </div>
  </div>

