<div class="spinner-container" *ngIf="dataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>
 <div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="example-table"
           matSort matSortActive="nom" matSortDisableClear matSortDirection="asc">

      <!--  _id du  demandeur  -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!--  nom demandeur  -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef > NOM </th>
        <td mat-cell *matCellDef="let row ">{{row.nom}}</td>
      </ng-container>

      <!-- prenom du demandeur  -->
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef> PRENOM </th>
        <td mat-cell *matCellDef="let row">{{row.prenom}}</td>
      </ng-container>

      <!-- genre du demandeur  -->
      <ng-container matColumnDef="genre">
        <th mat-header-cell *matHeaderCellDef> GENRE </th>
        <td mat-cell *matCellDef="let row">{{row.genre}}</td>
      </ng-container>

      <!-- nationalite du demandeur  -->
      <ng-container matColumnDef="nationalite">
        <th mat-header-cell *matHeaderCellDef> NATIONALITE </th>
        <td mat-cell *matCellDef="let row">{{row.nationalite}}</td>
      </ng-container>

      <!-- dateNaissance du demandeur -->
      <ng-container matColumnDef="dateNaissance">
        <th mat-header-cell *matHeaderCellDef>DATE NAISSANCE</th>
        <td mat-cell *matCellDef="let row">{{row.dateNaissance | date:'dd/MM/yyyy' : 'LL'}}</td>
      </ng-container>

      <!-- lieuNaissance du demandeur  -->
      <ng-container matColumnDef="lieuNaissance">
        <th mat-header-cell *matHeaderCellDef>LIEU NAISSANCE</th>
        <td mat-cell *matCellDef="let row">{{row.lieuNaissance}}</td>
      </ng-container>

      <!-- adresse du demandeur  -->
      <ng-container matColumnDef="adresse">
        <th mat-header-cell *matHeaderCellDef> ADRESSE </th>
        <td mat-cell *matCellDef="let row">{{row.adresse}}</td>
      </ng-container>

      <!-- telephone du demandeur  -->
      <ng-container matColumnDef="telephone">
        <th mat-header-cell *matHeaderCellDef> TELEPHONE </th>
        <td mat-cell *matCellDef="let row">{{row.telephone}}</td>
      </ng-container>

      <!-- email du demandeur  -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> EMAIL </th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>

      <!-- status du demandeur  -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> STATUS </th>
        <td mat-cell *matCellDef="let row">{{row.status}}</td>
      </ng-container>

      <!-- numeroPieceDidentite du demandeur -->
      <ng-container matColumnDef="numeroPieceDidentite" >
        <th mat-header-cell *matHeaderCellDef>NºPIECE DIDENTITE</th>
        <td mat-cell *matCellDef="let row">{{row.numeroPieceDidentite}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;"
      [ngClass]="{gray: even}" [routerLink]="['/demandeur-detail/', row.id]"></tr>
    </table>
    <mat-paginator
    [length]="dataSource?.totalElements"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[10, 30, 45]"></mat-paginator>

  </div>
</div>

