
<div class="widgets-row"
 fxLayout
 fxLayout.xs="column"
 fxLayoutAlign="start"
 fxLayoutWrap="wrap"
 fxLayoutGap="10px"
 fxLayoutGap.xs="0">

<div class="widget" fxFlex="50%">
<mat-card class="example-card" class="example-card">

<mat-card-actions class="position-button-modifier" *ngxPermissionsOnly="['EDIT_PRIVILEGE']">
  <a mat-button  color="accent" (click)="GoToDemandeurEdit(demandeur.id)"><mat-icon>edit</mat-icon></a>
</mat-card-actions>

    <div fxLayoutAlign="start" fxFlex="14%">
       <div *ngIf="demandeur && demandeur?.genre=='masculin'then male_img else female_img"> </div>
      <ng-template #male_img><a><img src="assets/img/male_img.png"></a></ng-template>
      <ng-template #female_img><a><img src="assets/img/female_img.png"></a></ng-template>
    </div>
      <mat-card-header>
        <mat-card-title>
          <!-- Display the gender of the user if he is male or female  -->
        <div *ngIf="demandeur.genre=='masculin'then Male else Female "></div>
        <ng-template #Male>M.</ng-template>
        <ng-template #Female>Mme.</ng-template>
        {{demandeur && demandeur?.nom}}
        </mat-card-title>
        <mat-card-title>{{demandeur && demandeur?.prenom}}</mat-card-title>
        <mat-card-subtitle><mat-icon color="primary" class="icon-reduce">flag</mat-icon>{{demandeur && demandeur?.nationalite}}</mat-card-subtitle>
        <mat-card-subtitle><mat-icon color="primary" class="icon-reduce">email</mat-icon>{{demandeur && demandeur?.email}}</mat-card-subtitle>
        <mat-card-subtitle><mat-icon color="primary" class="icon-reduce">phone_iphone</mat-icon>{{demandeur && demandeur?.telephone}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content fxLayout fxLayoutAlign="end"
      fxLayoutWrap="wrap" fxLayoutGap="10px"
      fxLayoutGap.xs="0" fxFlex="45%">
        <dl>
          <dd>Date et lieu de naissance<mat-card-subtitle><mat-icon color="primary" class="icon-reduce">event_note</mat-icon>{{demandeur && demandeur?.dateNaissance | date:'dd/MM/yyyy' : 'LL'}} , {{demandeur && demandeur?.lieuNaissance}}</mat-card-subtitle></dd>
          <dd>Numéro de la piece d'identité<mat-card-subtitle><mat-icon color="primary" class="icon-reduce">perm_contact_calendar</mat-icon>N°{{demandeur && demandeur?.numeroPieceDidentite}}</mat-card-subtitle></dd>
          <dd>Adresse<mat-card-subtitle><Address><mat-icon color="primary" class="icon-reduce">home</mat-icon>{{demandeur && demandeur?.adresse}}</Address></mat-card-subtitle></dd>
        </dl>
      </mat-card-content>
    </mat-card>
    <div class="example-loading-shade"*ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    </div>

  <div fxFlex="50%" class="widget">
 <mat-card class="example-card" class="example-card">

  <mat-card-actions class="position-button-envoyer" *ngxPermissionsOnly="['EDIT_PRIVILEGE']">
    <a mat-stroked-button class="button-reduce" color="primary">Envoyer<mat-icon class="icon-reduce-inButton">send</mat-icon></a>
  </mat-card-actions>
  <mat-card-actions class="position-button-approuver" *ngxPermissionsOnly="['APPROUVER_PRIVILEGE']">
    <a mat-stroked-button class="button-reduce" color="primary">Approuver<mat-icon class="icon-reduce-inButton">done_all</mat-icon></a>
  </mat-card-actions>
  <mat-card-actions class="position-button-rejeter" *ngxPermissionsOnly="['REJETER_PRIVILEGE']">
    <a mat-stroked-button class="button-reduce" color="warn">Réjeter<mat-icon class="icon-reduce-inButton">cancel_schedule_send</mat-icon></a>
  </mat-card-actions>
  <mat-card-actions class="button-view-more" *ngxPermissionsOnly="['EDIT_PRIVILEGE']">
  <a mat-icon-button color="primary" ><mat-icon>add_circle_outline</mat-icon></a>
  </mat-card-actions>
  <mat-card-actions class="button-add-new" *ngxPermissionsOnly="['EDIT_PRIVILEGE']">
    <a mat-icon-button color="accent"><mat-icon>edit</mat-icon></a>
  </mat-card-actions>

        <mat-card-content fxLayout  fxLayoutAlign="start"
        fxLayoutWrap="wrap" fxLayoutGap="5px"
        fxLayoutGap.xs="0" fxFlex="28%">
        <!-- && and ? just checking to make sure the data is not null otherwise its throw an error in the console -->
        <dl>
          <dd>Bordereau<mat-card-subtitle><mat-icon color="primary" class="icon-reduce">description</mat-icon>N°{{demandeur.demandeEquivalences && demandeur.demandeEquivalences[0]?.numeroBordereau}}</mat-card-subtitle></dd>
          <dd>Recepissé <mat-card-subtitle><mat-icon color="primary" class="icon-reduce">receipt</mat-icon>N°{{demandeur.demandeEquivalences && demandeur.demandeEquivalences[0]?.numeroRecepisse}}</mat-card-subtitle></dd>
          <dd>Date de dépot<mat-card-subtitle><mat-icon color="primary" class="icon-reduce">event_note</mat-icon>{{ demandeur.demandeEquivalences && demandeur.demandeEquivalences[0]?.dateDepot | date:'dd/MM/yyyy' : 'LL'}}</mat-card-subtitle></dd>
        </dl>
      </mat-card-content>

       <mat-card-content fxLayout  fxLayoutAlign="start"
        fxLayoutWrap="wrap" fxLayoutGap="5px"
        fxLayoutGap.xs="0" fxFlex="32%">
           <dl>
             <dd>Diplome Demandé<mat-card-subtitle><mat-icon color="primary" class="icon-reduce">school</mat-icon>{{ demandeur.demandeEquivalences && demandeur.demandeEquivalences[0]?.diplomeDemande}}</mat-card-subtitle></dd>
             <dd>Diplome Antérieur <mat-card-subtitle><mat-icon color="primary" class="icon-reduce">school</mat-icon>{{ demandeur.demandeEquivalences && demandeur.demandeEquivalences[0]?.diplomeAnterieur}}</mat-card-subtitle></dd>
            </dl>
        </mat-card-content>

        <mat-card-content fxLayout  fxLayoutAlign="start"
        fxLayoutWrap="wrap" fxLayoutGap="5px"
        fxLayoutGap.xs="0" fxFlex="43%">
             <dl>
              <dd>Status/Date modification<mat-card-subtitle><mat-icon color="primary" class="icon-reduce">schedule</mat-icon>{{demandeur.demandeEquivalences && demandeur.demandeEquivalences[0]?.statusDemande[0]?.status}} , {{demandeur.demandeEquivalences && demandeur.demandeEquivalences[0]?.statusDemande[0]?.date | date:'dd/MM/yyyy' : 'LL'}}</mat-card-subtitle></dd>
              <dd>Libellé<mat-card-subtitle><mat-icon color="primary" class="icon-reduce">notes</mat-icon>{{demandeur.demandeEquivalences && demandeur.demandeEquivalences[0]?.statusDemande[0]?.libelle}}</mat-card-subtitle></dd>
             </dl>
          </mat-card-content>

         </mat-card>

  </div>
  </div>

  <div fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="space-between"
  fxLayoutWrap="wrap">
  <div fxFlex="100%" class="widget">
  <mat-tab-group  animationDuration="500ms" color="primary" mat-stretch-tabs class="example-stretched-tabs ">
    <mat-tab label="Formation" >
      <ng-template mat-tab-label><mat-icon color="primary">school</mat-icon><span>Formations</span></ng-template>
      <div class="example-large-box mat-elevation-z4">
        <app-demandeur-formation></app-demandeur-formation>
       </div>
    </mat-tab>
    <mat-tab label="Demande d'equivalence" >
      <ng-template mat-tab-label><mat-icon color="primary">book</mat-icon><span>Demande d'equivalence</span></ng-template>
      <div class="example-large-box mat-elevation-z4">
        <app-demande-equivalence></app-demande-equivalence>
       </div>
    </mat-tab>
    <mat-tab label="Document">
    <ng-template mat-tab-label><mat-icon color="primary">folder</mat-icon><span>Document</span></ng-template>
    <div class="example-large-box mat-elevation-z4">
        Large content
      </div>
    </mat-tab>
  </mat-tab-group>
  </div>
</div>
