 <!-- <div button-size >
</div> -->

<div class="widgets-row"
 fxLayout
 fxLayout.xs="column"
 fxLayoutAlign="start"
 fxLayoutWrap="wrap"
 fxLayoutGap="10px"
 fxLayoutGap.xs="0">

<div class="widget" fxFlex="50%">
  <div class="example-loading-shade"*ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-card class="example-card" class="example-card">
<mat-card-actions fxFlex="0.5%" fxFlexAlign="end"
 fxLayoutWrap="wrap" fxLayoutGap="3px" fxLayoutGap.xs="0">
      <a mat-stroked-button mdl-js-ripple-effect color="primary"  (click)="GoToDemandeurEdit(demandeur.id)"><mat-icon>edit</mat-icon></a>
      </mat-card-actions>
    <div fxLayoutAlign="start" fxFlex="18%"><a><img src="assets/img/detail_user2.png"> </a>
    </div>

      <mat-card-header>
        <mat-card-title >{{demandeur.nom}}</mat-card-title>
        <mat-card-title>{{demandeur.prenom}}</mat-card-title>
        <mat-card-subtitle>{{demandeur.nationalite}}</mat-card-subtitle>
        <mat-card-subtitle>{{demandeur.email}}</mat-card-subtitle>
        <mat-card-subtitle>{{demandeur.telephone}}</mat-card-subtitle>
        <mat-card-subtitle><Address>{{demandeur.adresse}}</Address></mat-card-subtitle>
      </mat-card-header>

      <mat-card-content fxLayout fxLayoutAlign="end"
      fxLayoutWrap="wrap" fxLayoutGap="10px"
      fxLayoutGap.xs="0" fxFlex="50%">
        <dl>
          <dd>genre <mat-card-subtitle>{{demandeur.genre}}</mat-card-subtitle></dd>
          <dd>date de naissance <mat-card-subtitle>{{demandeur.dateNaissance}}</mat-card-subtitle></dd>
          <dd>lieu de naissance <mat-card-subtitle>{{demandeur.lieuNaissance}}</mat-card-subtitle></dd>
          <dd>numero de la piece d'identité <mat-card-subtitle>{{demandeur.numeroPieceDidentite}}</mat-card-subtitle></dd>
        </dl>
      </mat-card-content>

    </mat-card>

    </div>

  <div fxFlex="50%" class="widget">
 <mat-card class="example-card" class="example-card">

        <mat-card-header>
          <mat-card-title >{{demandeur.nom}}</mat-card-title>
          <mat-card-title>{{demandeur.prenom}}</mat-card-title>
          <mat-card-subtitle>{{demandeur.nationalite}}</mat-card-subtitle>
          <mat-card-subtitle>{{demandeur.email}}</mat-card-subtitle>
          <mat-card-subtitle>{{demandeur.telephone}}</mat-card-subtitle>
          <mat-card-subtitle><Address>{{demandeur.adresse}}</Address></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout  fxLayoutAlign="end"
        fxLayoutWrap="wrap" fxLayoutGap="10px"
        fxLayoutGap.xs="0" fxFlex="50%" >
          <dl>
            <dd>genre <mat-card-subtitle>{{demandeur.genre}}</mat-card-subtitle></dd>
            <dd>date de naissance <mat-card-subtitle>{{demandeur.dateNaissance}}</mat-card-subtitle></dd>
            <dd>lieu de naissance <mat-card-subtitle>{{demandeur.lieuNaissance}}</mat-card-subtitle></dd>
            <dd>numero de la piece d'identité <mat-card-subtitle>{{demandeur.numeroPieceDidentite}}</mat-card-subtitle></dd>
          </dl>
        </mat-card-content>
      </mat-card>
  </div>
  </div>


  <div fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="space-between"
  fxLayoutWrap="wrap">
  <div fxFlex="100%" class="widget">
  <mat-tab-group dynamicHeight animationDuration="1000ms"
   color="primary" mat-align-tabs="start" >
    <mat-tab label="Formation">
      <div class="example-large-box mat-elevation-z4">
        <app-formation></app-formation>
       </div>
    </mat-tab>
    <mat-tab label="Demande d'equivalence ">
      <div class="example-large-box mat-elevation-z4">
        <app-demande-equivalence></app-demande-equivalence>
       </div>
    </mat-tab>
    <mat-tab label="status de la demande">
      <div class="example-large-box mat-elevation-z4">
        Large content
      </div>
    </mat-tab>
  </mat-tab-group>
  </div>
</div>
