/* Structure*/
.position-button-rejeter{
  position:absolute;
  transition: .5s ease;
  top: 72%;
  left: 82%;
}

.position-button-approuver{
  position:absolute;
  transition: .5s ease;
  top: 72%;
  left: 59.50%;
}

.position-button-envoyer{
  position:absolute;
  transition: .5s ease;
  top: 72%;
  left: 39.50%;
}

.position-button-modifier{
  position:absolute;
  transition: .5s ease;
  top: 72%;
  left: 4.50%;
}

.icon-reduce{
  font-size: 18px;
}

.example-container {
    position: relative;
    padding: 10px;
  }

  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(4, 205, 255, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat-flat-button {
    margin: 2px;
  }

.card-content{
   justify-content: flex-end;
}


/*.example-card {
  max-width: 500px;
  margin: 10px; height: 200px;
 }
*/


 /*

/// Shorthand mixin for offset positioning
/// @param {String} $position - Either `relative`, `absolute` or `fixed`
/// @param {Length} $top [null] - Top offset
/// @param {Length} $right [null] - Right offset
/// @param {Length} $bottom [null] - Bottom offset
/// @param {Length} $left [null] - Left offset
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
.button-size{
  @include position(absolute, $top: 50%, $left: 50%);
}

*/

