
<mat-toolbar color="primary" class="header">
  <button mat-button routerLink="/demandeurs"><mat-icon>home</mat-icon></button>
  <!-- <div><h2><b>SYSTEME INTEGRE DE SUIVI DES EQUIVALENCE DES DIPLOMES</b></h2></div>  -->
    <span class="nav-tool-items" >
      <a mat-button routerLink="login" routerLinkActive="active" >Connexion</a>
      <a mat-button mat-raised-button routerLink="logout" routerLinkActive="active">créer utilisateur </a>
    </span>

  </mat-toolbar>


  <!-- Main content -->
<app-sidenav></app-sidenav>



<mat-toolbar color="primary" class="footer" fxLayoutAlign="center center" >
<div><i>Systeme Intégré de suivi des Equivalences Des Diplomes Tout droit reservé @CAISFF</i></div>
</mat-toolbar>

<!-- <footer color="primary" class="footer" fxLayoutAlign="center center">
<div><h6><i> Systeme Intégré de suivi des Equivalences Des Diplomes Tout droit reservé @CAISFF </i></h6></div>
</footer> -->



