/* You can add global styles to this file, and also import other style files */
html, body {height: 100%;overflow: scroll;overflow-x: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

 }

  /* .blue{
  background-image:url(/assets/img/back2.png);
  height: 86vh;
  width: 50vw;
  background-size:cover;
  background-position: initial;
 }  */

/* notification */

snack-bar-container.success {
  background-color: #5cb85c;
  color : #fff;
}

snack-bar-container.warn {
  background-color: #f99157;
  color : #fff;
}

snack-bar-container.notification simple-snack-bar{
  font-size: 20px !important;
  font-weight: bold;

}

.hide{
  display: none;
}

/* remove scroll bar from app link with overflow-x  and overflow ,*/

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
